<nav class="navbar navbar-dark bg-dark ">
<a href="#" class="navbar-brand mr-auto">BlockChain Poll</a>
<button class="btn btn-primary" (click)="showForm= !showForm">Create poll</button>
</nav>
<section class="jumpotron bg-light text-center">
    <h1>Poll rethinked</h1>
    <p class="lead text-muted">Developed by Sam</p>

</section>

<app-poll-create *ngIf="showForm" (PollCreated)="handlePollCreate($event)"></app-poll-create>

<div class="d-flex">
    <div class="container poll-list">
        <app-poll *ngFor ="let poll of polls | async"
        [Question]="poll.Question" [votes]="poll.results" [voted]="poll.voted"
        [pollImage]="poll.image"
        (click)="setActivepoll(poll)"
        >
        

        </app-poll>
    </div>
    <div class="container poll-details">
        <app-poll-vote
        *ngIf="activePoll"
        [id]="activePoll.id"
         [voted]="activePoll.voted" 
         [Question]="activePoll.Question"
         [options]="activePoll.options"
         [results]="activePoll.results"
         (pollVoted)="handlePollVote($event)"
         >
        </app-poll-vote>
    </div>
</div>